<?xml version="1.0" encoding="utf-8"?>

<!--
  有关如何配置 ASP.NET 应用程序的详细信息，请访问
  http://go.microsoft.com/fwlink/?LinkId=169433
  -->

<configuration>
  <!--
  功能：SQL-Server数据库配置
  作者：李思捷
  时间：2016年4月14日
  henuGZB_ZBPT*2016(jsjxy)
  1q!2w@e$r%t6t_1q!2w@
  -->
  <appSettings/>
  <connectionStrings>
    <add name="conn" connectionString="Data Source=172.31.0.180;Initial Catalog=HDGLPT;User ID=sa;password=henuGZB_ZBPT*2016(jsjxy)"
          providerName="system.data.sqlclient"/>
    <add name="conn_part" connectionString="Data Source=172.31.0.180;Initial Catalog=HENUGZB_PART;User ID=henugzb_part;password=1q!2w@"
         providerName="system.data.sqlclient"/>
     <!--<add name="Conn" connectionString="Data Source=10.12.52.110;Initial Catalog=HDGLPT;User ID=sa;Password=henuGZB_ZBPT*2016(jsjxy)"
      providerName="System.Data.SqlClient"/>
    <add name="Conn_part" connectionString="Data Source=10.12.52.110;Initial Catalog=HENUGZB_PART;User ID=henugzb_part;Password=1q!2w@"
         providerName="System.Data.SqlClient"/>-->
  </connectionStrings> 
    <!--<system.web>
      <pages enableEventValidation="true">
      </pages>
      <compilation debug="true" targetFramework="4.5"/>
      <httpRuntime targetFramework="4.5"/>
    </system.web>-->
<!--设置多个站点地图-->

  <system.web>
    <siteMap enabled="true">
      <providers>
        <add siteMapFile="~/Web.sitemap" name="MyWebsitemap" type="System.Web.XmlSiteMapProvider, System.Web, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b03f5f7f11d50a3a"/>
        <add siteMapFile="~/Sitemap/Web.sitemap" name="MyWeb2sitemap" type="System.Web.XmlSiteMapProvider, System.Web, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b03f5f7f11d50a3a"/>
        <add siteMapFile="~/Sitemap/Web1.sitemap" name="MyWeb1sitemap" type="System.Web.XmlSiteMapProvider, System.Web, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b03f5f7f11d50a3a"/>
        <add siteMapFile="~/Sitemap/Web2.sitemap" name="MyWeb3sitemap" type="System.Web.XmlSiteMapProvider, System.Web, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b03f5f7f11d50a3a"/>
        <add siteMapFile="~/Sitemap/Web3.sitemap" name="MyWeb4sitemap" type="System.Web.XmlSiteMapProvider, System.Web, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b03f5f7f11d50a3a"/>
        <add siteMapFile="~/Sitemap/Web4.sitemap" name="MyWeb5sitemap" type="System.Web.XmlSiteMapProvider, System.Web, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b03f5f7f11d50a3a"/>
        <add siteMapFile="~/Sitemap/Web5.sitemap" name="MyWeb6sitemap" type="System.Web.XmlSiteMapProvider, System.Web, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b03f5f7f11d50a3a"/>
      </providers>
    </siteMap>
    <pages validateRequest="false">
    </pages>
   
    <compilation targetFramework="4.5" />
    <httpRuntime targetFramework="4.5" maxRequestLength="1048576" executionTimeout="3600" />
    <customErrors mode="Off"></customErrors>
    <sessionState mode="InProc" timeout="120"/>
  </system.web>
  <system.webServer>
    <defaultDocument>
      <files>
        <add value="HenuUI/Login/Login.aspx"/>
      </files>
    </defaultDocument>
       <security>
          <requestFiltering allowDoubleEscaping="true"/>
        </security>
  </system.webServer>
</configuration>
